.cabecalho{
    align-items: center; 
    background-color: #f9f9f9;     
    display: flex;
    justify-content: space-between;
    padding-left: 2rem; /* Espaçamento interno para esquerda left(esquerda)*/
    padding-right: 2rem; /* Espaçamento interno  para direita right(direita)*/
} 

